* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #30C296;
}

::-webkit-scrollbar-thumb:hover {
  background: #56A4D2;
}

body {
  overflow-x: hidden;
}

.side-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 40px;
  z-index: 2000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.side-bar .arrow img {
  height: auto;
  width: 40px;
  padding-bottom: 80px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-bottom: 0px;
  cursor: pointer;
}

.side-bar .arrow img:hover {
  margin-bottom: 10px;
}

.menu-btn {
  position: relative;
  padding: 20px;
  cursor: pointer;
  -webkit-transform: skewY(-35deg);
          transform: skewY(-35deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.menu-btn div {
  background-color: #30C296;
  width: 20px;
  height: 5px;
  margin-bottom: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu-btn:hover {
  background-color: #30C296;
  -webkit-transform: skewY(0deg);
          transform: skewY(0deg);
}

.menu-btn:hover div {
  background-color: white;
}

.menu-cliked {
  -webkit-transform: skewY(0deg);
          transform: skewY(0deg);
}

.sticky-active {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  opacity: 0;
  scale: 0.2;
}

.hero {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.hero .hello .hello-dot {
  margin-left: 7px;
  margin-top: 5px;
  width: 12px;
  height: 12px;
  background-color: #30C296;
}

.hero .about .about-line {
  background-color: #30C296;
  width: 30px;
  height: 8px;
  -webkit-transform: skewY(-35deg);
          transform: skewY(-35deg);
}

.portfolio {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(20%, white), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(rgba(255, 255, 255, 0), white 20% 90%, rgba(255, 255, 255, 0) 100%);
  overflow: hidden;
}

.portfolio .top {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio .top h1 {
  font-size: 70px;
  margin: 0;
  font-weight: bold;
  position: relative;
  top: 80%;
  left: 20vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  word-wrap: break-word;
  width: 70%;
}

.portfolio .top h1::before {
  content: '';
  width: 20px;
  height: 20px;
  background-color: #30C296;
  position: absolute;
  left: -30px;
}

.portfolio .container {
  width: 3000px;
  height: 70%;
  background-color: #56A4D2;
}

.portfolio .content {
  height: 70%;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: -webkit-grab;
  cursor: grab;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: all 3000ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
  transition: all 3000ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
  -webkit-user-drag: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.portfolio .content::-webkit-scrollbar {
  display: none;
}

.portfolio .box {
  height: 100%;
  width: 900px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio .box .context {
  margin: auto;
  position: relative;
  height: 300px;
  width: 500px;
  background-color: #e4e4e4;
}

.portfolio .box .context .image-box {
  overflow: hidden;
  height: 100%;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.portfolio .box .context img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  pointer-events: none;
}

.portfolio .box .context .image-box:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.portfolio .box .context .image-box:hover > img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.portfolio .box .context .title {
  position: absolute;
  top: 0;
  right: 400px;
  font-size: 36px;
  background-color: #30C296;
  padding: 15px;
  z-index: 5;
}

.portfolio .box .context .desc {
  position: absolute;
  bottom: 0;
  padding: 10px;
  left: 450px;
  right: -100px;
}

.portfolio .box .context .demo-link {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.portfolio .box .context .demo-link:hover {
  background-color: #30C296;
  margin-left: 10px;
}

.portfolio .box .context::after {
  content: '';
  position: absolute;
  top: 0;
  right: -10px;
  width: 70px;
  height: 20px;
  background-color: #30C296;
  -webkit-transform: skewY(-35deg);
          transform: skewY(-35deg);
}

.portfolio .content::before,
.portfolio .content::after {
  content: '';
  padding: 0 15%;
  height: 100%;
}

.portfolio .portfolio-indicator {
  background-color: #e4e4e4;
  width: 200px;
  height: 4px;
  position: absolute;
  right: 10%;
  overflow: hidden;
}

.portfolio .portfolio-indicator-active {
  background-color: #30C296;
  width: 5%;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
}

.cursor-circle {
  width: 70px;
  height: 70px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  background-color: transparent;
  position: absolute;
  pointer-events: none;
  top: 40px;
  left: 40px;
  z-index: 2000;
  opacity: 0;
}

#detailPortfolio {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8%;
  padding-right: 10%;
  padding-left: 10%;
}

#detailPortfolio .body-portfolio {
  background-color: #F4F4F4;
  width: 100%;
  padding: 88px;
  padding-bottom: 20px;
  overflow: auto;
}

#detailPortfolio .content-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#detailPortfolio .content-portfolio .col-left {
  width: 65%;
  overflow: hidden;
}

#detailPortfolio .content-portfolio .col-left .img-box {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 20px;
}

#detailPortfolio .content-portfolio .col-left .img-box img {
  width: 100%;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}

#detailPortfolio .content-portfolio .col-left .spec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#detailPortfolio .content-portfolio .col-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#detailPortfolio .content-portfolio .col-right h1 {
  font-size: 36px;
  margin: 0;
}

#detailPortfolio .content-portfolio .col-right a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: black;
}

#detailPortfolio .content-portfolio .col-right a:hover {
  padding: 10px 15px;
  background-color: #30C296;
}

#detailPortfolio .content-portfolio .col-right .arrow {
  display: inline-block;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

#detailPortfolio .content-portfolio .spacer {
  width: 10%;
}

@media screen and (max-width: 600px) {
  .cursor-circle {
    display: none;
  }
  .content {
    -webkit-transition: all 500ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
    transition: all 500ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
  }
}

@media screen and (max-width: 990px) {
  #detailPortfolio .body-portfolio {
    padding: 40px;
    padding-bottom: 0px;
  }
  #detailPortfolio .content-portfolio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  #detailPortfolio .content-portfolio .col-left {
    width: 100%;
  }
  #detailPortfolio .content-portfolio .col-left .spec {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
  #detailPortfolio .content-portfolio .col-left .spec p {
    margin: 5px;
  }
  #detailPortfolio .content-portfolio .col-right {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */